body {
    height: 1500px;
    background-image: url("./pictures/background0.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

header {
    height: 220px;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.5;
}